* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: rgb(230, 248, 244);
}

section.toddy {
	padding-top: 50px;
	width: 80%;
	margin: auto;
}
.first-test {
	padding: 25px;
	width: 90%;
	margin: auto;
	border: 1px solid #000;
	box-shadow: 1px 1px 5px #000;
	border-radius: 10px;
	text-align: center;
	background: #febf63;
}

canvas {
	border: 2px solid #000;
	background: url(../img/fantasticPlanet1.gif) center no-repeat;
	background-size: cover;
}

.canvas-img {
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-lineas {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	background: #d98232;
}
.num-lineas,
.color-lineas,
.color-fondo,
.lugar-lineas,
.t-pincel,
.boton-lineas {
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
}

.boton-lineas {
	height: 50px;
	background: #d4a2be;
	color: #222;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.4s;
	margin: 10px;
}
.boton-lineas:hover {
	background: #75597d;
	color: #ddd;
}
.num-lineas {
	background: #fa9080;
}
.color-lineas {
	background: #de7175;
}
.color-fondo {
	background: #f589c3;
}
.lugar-lineas {
	background: #dc71de;
}
.t-pincel {
	background: #d780fa;
}

@media screen and (max-width: 700px) {
	body {
		background: yellow;
		width: 100vw;
		height: 100vh;
	}
	section.toddy {
		padding: 0;
		width: 350px;
	}
	.first-test {
		background: #3b2e5a;
		width: 350px;
		margin: auto;
		padding: 15px;
	}
	.boton-lineas {
		height: 40px;
		background: #d4a2be;
		color: #222;
		border: none;
		border-radius: 10px;
		cursor: pointer;
		margin-top: 10px;
		transition: all 0.4s;
	}
	.boton-lineas:hover {
		background: #75597d;
		color: #ddd;
	}
	.form-lineas {
		background: #848ccf;
		padding: 4px;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		height: 300px;
	}
	.num-lineas,
	.color-lineas,
	.color-fondo,
	.lugar-lineas,
	.t-pincel,
	.boton-lineas {
		padding: 10px;
		font-weight: bold;
		font-size: 15px;
	}
	.num-lineas {
		background: #93b5e1;
	}
	.color-lineas {
		background: #ffe4e4;
	}
	.color-fondo {
		background: #be5683;
	}
	.lugar-lineas {
		background: #ffdbc5;
	}
	.t-pincel {
		background: #cbeaed;
	}
}
